.walla-list-item {
  @apply p-1;
  @apply my-2;
  @apply flex;
  @apply bg-white;
  @apply rounded-lg;

  .media {
    @apply mr-4;
    @apply flex-shrink-0;

    img {
      @apply w-14;
      @apply h-14;
      @apply rounded-lg;
    }
  }

  .info {
    @apply flex;
    @apply flex-col;
    @apply flex-shrink-0;

    h4 {
      @apply text-base;
      @apply font-semibold;
      @apply text-gray-700;
      @apply tracking-wide;

      font-size: 1.3rem;
    }

    p {
      @apply line-clamp-2;
      @apply text-gray-500;
      @apply font-extralight;

      width: 400px;
      font-size: .7rem;
    }
  }

  .action {
    @apply items-center;

    font-size: 1.2rem;
  }
}
