
<div class="walla-home">
  <walla-container>
    <div class="form">
      <walla-input-filter (handleClear)="onClear()" (handleClick)="onClick($event)" [data]="filters"></walla-input-filter>
    </div>
  </walla-container>
</div>

<ng-container *ngIf="products?.length; then listTmpl else emptyTmpl"></ng-container>

<ng-template #listTmpl>
  <walla-container>
    <div class="walla-home__favorite">
      <walla-btn icon="like" label="View favorites" (handleClick)="openFavorite()"></walla-btn>
    </div>
  </walla-container>

  <walla-product-list [showFavorite]="true" [products]="products"></walla-product-list>

  <ng-container *ngIf="showMoreButton">
    <walla-container>
      <div class="walla-home__list">
        <walla-btn label="Load more items" (handleClick)="onMoreData()"></walla-btn>
      </div>
    </walla-container>
  </ng-container>
</ng-template>

<ng-template #emptyTmpl>
  <walla-container>
    <div class="walla-home__empty">
      <h1>We're sorry!!</h1>
      <p>We have not found any results for this search</p>
      <walla-empty></walla-empty>
    </div>
  </walla-container>
</ng-template>
